/* 
  Applies border box sizing to all elements and pseudo-elements on the page.
  height and width will always specify the actual height and width of an element. 
  Padding will not change them.
*/
*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  --brand-color: #0072b0;
  --column-width: 1080px;
}
  
body {
  margin: unset; /* Removes a margin added by the user-agent styles so content can reach to the edges of the browser window. */
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
  
.page-header {
  color: #fff;
  background-color: var(--brand-color);
}

/*
  Sets a maximum width of 1,080 px.
  Auto left and right margins will grow to fill the available space, centering the element within the outer container.
  Sets left/right margins to auto without specifying top/bottom margins.
  max-inline-size is a logical property equivalent for max-width.
  Changes the box model to border-box sizing.
*/
.page-header h1 {
  max-inline-size: var(--column-width);
  /*max-inline-size: calc(var(--column-width) - 3rem);  If content box sizing is used. */
  margin: 0 auto;
  padding: 1em 1.5rem;
}

.container {
  max-inline-size: var(--column-width);
  margin-inline: auto;
}
  
.main {
  padding: 1em 1.5rem;
  background-color: #fff;
  border-radius: 0.5em;
}

/*
  "max-inline-size: 25em;" reduces the width of the container.
*/
.social-links {
  max-inline-size: 25em;
  padding: 1em 1.5rem;
  background-color: #fff;
  border-radius: 0.5em;
}

/*
  "display: block;" fills the available width and puts each link on its own line.
*/
.button-link {
  display: block;
  padding: 0.5em;
  color: #fff;
  background-color: var(--brand-color);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*
  "margin-block-start: 1.5em;" applies a top margin to button-links that immediately follow another button-link.
.button-link + .button-link {
  margin-block-start: 1.5em;
}
*/

.sponsor-link {
  display: block;
  color: var(--brand-color);
  font-weight: bold;
  text-decoration: none;
}

/*
  Targets all children in the stack except the first one.
*/
.stack > * + * {
  margin-block-start: 1.5em;
}