:root {
  --brand-color: #0072b0;
  --column-width: 1080px;
}
  
body {
  margin: unset; /* Removes a margin added by the user-agent styles so content can reach to the edges of the browser window. */
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}
  
.page-header {
  color: #fff;
  background-color: var(--brand-color);
}

/*
  Sets a maximum width of 1,080 px.
  Auto left and right margins will grow to fill the available space, centering the element within the outer container.
  Sets left/right margins to auto without specifying top/bottom margins.
  max-inline-size is a logical property equivalent for max-width
*/
.page-header h1 {
  max-inline-size: var(--column-width);
  margin-inline: auto;
}

.container {
  max-inline-size: var(--column-width);
  margin-inline: auto;
}
  
.main {
  background-color: #fff;
  border-radius: 0.5em;
}
  
.social-links {
  background-color: #fff;
  border-radius: 0.5em;
}