.dropdown {
  display: inline-block;
  position: relative; /* Establishes the containing block */
}

.dropdown-toggle {
  padding: 0.5em 2em 0.5em 1.5em; /* Increase the right padding to make space for the arrow */
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 0;
}

.dropdown-toggle::after {
  content: ""; /*  no content, so it has no height or width */

  /* Positions the element on the right side of the toggle button */
  position: absolute;
  right: 1em;
  top: 0.9em;

  /* Uses the top border to form a down arrow */
  border: 0.3em solid;
  border-color: black transparent transparent;
}

.dropdown.is-open .dropdown-toggle::after {
  top: 0.6em;
  border-color: transparent transparent black; /* When open, change to an up arrow */
}

.dropdown-menu {
  display: none; /* Hides the menu initially */
  position: absolute;
  left: 0;
  top: 2.1em; /* Positions the dropdown menu below the dropdown toggle */
  inline-size: max-content;
  min-inline-size: 100%;
  background-color: #eee;
}

/* Reveals the menu when active */
.dropdown.is-open .dropdown-menu {
  display: block;
}

.submenu {
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
  border: 1px solid #999;
}

.submenu > li + li {
  border-top: 1px solid #999;
}

.submenu > li > a {
  display: block;
  padding: 0.5em 1.5em;
  background-color: #eee;
  color: #369;
  text-decoration: none;
}

.submenu > li > a:hover {
  background-color: #fff;
}