*,
::before,
::after {
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-areas:
    "top  top    right"
    "left .      right"
    "left bottom bottom";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
}

.cf {
  grid-area: right;
}

.hi {
  grid-area: bottom;
}

.ab {
  grid-area: top;
}

.dg {
  grid-area: left;
}

.grid > * {
  background-color: darkgray;
  color: white;
  padding: 2em;
  border-radius: 0.5em;
}